#premises{
    .premises{
        .tmy{
            margin-bottom: 30px;
            .wrap{
                .doc-h1{
                    font-size:26px;
                    font-weight: 700;
                }
                .doc-p{
                    font-size:18px;
                    display:40px;
                }
            }
        }
        .premi-row{

        }
    }
}